// PIPELINE CONFIGURATION =====================================================

// Pipeline Information ------------------------------------------------------- 

manifest {
    author      = 'Carl Beuchel <carl.beuchel@charite.de>'
    name        = 'nf-munge-sumstats'
    description = 'Format and Liftover GWAS Summary Statistics'
    homePage    = 'https://github.com/comp-med/nf-munge-sumstats'
}

// Default workflow parameters ------------------------------------------------

params {
    help    = false
    version = '0.3.0'
}

// Resume pipeline from last successful process
resume = true

// Input Parameters -----------------------------------------------------------
params {
    
    // Entry point into the pipeline
    input = null

    // Where to save results
    outDir  = './output/'

    // External Programs 
    bcftools_liftover_bin = null

    // When behind a proxy server enter URL here - empty string is the default,
    // i.e. no proxy
    proxy_server = "" 
}

// Global Environment ---------------------------------------------------------

env {
    http_proxy  = params.proxy_server
    https_proxy = params.proxy_server
    HTTPS_PROXY = params.proxy_server
    HTTP_PROXY  = params.proxy_server
}

// Logging & Extras -----------------------------------------------------------

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
  enabled   = true
  overwrite = true
  file      = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
report {
  enabled   = true
  overwrite = true
  file      = 'runInfo/report.html'
}

timeline {
  enabled   = true
  overwrite = true
  file      = 'runInfo/timeline.html'
}

trace {
  enabled   = true
  overwrite = true
  file      = 'runInfo/trace.txt'
}

// Default Configuration ------------------------------------------------------

includeConfig 'conf/base.config'

// Profiles -------------------------------------------------------------------

// Enable various profiles depending on compute infrastructure to be run on
// More info: https://www.nextflow.io/docs/latest/config.html#config-profiles

profiles {
  standard {
    process.executor    = 'local'
    conda.enabled       = true
    conda.useMicromamba = true
  }
  hpc {
    process.executor    = 'slurm'
    apptainer.enabled    = true
    apptainer.autoMounts = true
    conda.enabled        = true
    conda.useMicromamba  = true
  }
  debug {
    dumpHashes                                   = true
    process.beforeScript                         = 'echo $HOSTNAME'
    cleanup                                      = false
    nextflow.enable.configProcessNamesValidation = true
  }
}

