// Configuration for HPC with SLURM

// Container Runtime Configuration --------------------------------------------

apptainer {
  enabled    = true
  temp       = '~/.apptainer'
}

params {
  // Add the path to the container image to run R from
  rApptainerPath = ''
  // Add bind directories in a comma-separated list
  apptainerBind  = ''
}

process {
  executor         = 'slurm'
  time             = 1.h
  memory           = 4.GB
  cpus             = "$params.cpus"
  containerOptions = "--bind $params.apptainerBind"
}

// Process Configuration ------------------------------------------------------

process {
  withName: FORMAT_SUMSTATS {
         container     = "file://$params.rApptainerPath"
         cpus          = { 16 * task.attempt }
         memory        = { 32.GB * task.attempt }
         time          = { 1.h * task.attempt }
         errorStrategy = 'retry'
         maxRetries    = 2
  }
    withLabel: rProcess {
         container     = "file://$params.rApptainerPath"
         cpus          = { 8 * task.attempt }
         memory        = { 32.GB * task.attempt }
         time          = { 1.h * task.attempt }
         errorStrategy = 'retry'
         maxRetries    = 2
    }

}
